<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetanqueCL.PetqanqueSettings.ConnectionString" connectionString="Server=.\SQLEXPRESS;Database=PetanqueDB;Trusted_Connection=True;"
            providerName="" />
    </connectionStrings>
</configuration>