<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetanqueCL.Settings.sql" connectionString="Server=home.dtc-xtreme.net;Database=PetanqueDB;User Id=api; Password=Zomer2020.;" />
    </connectionStrings>
</configuration>